<div class="list">
<h1>Lista de Usuários</h1>
    <ul>
        {{#each users}}
            <div>
                <li>{{first_name}} {{last_name}} | {{email}} | {{role}}</li>
                {{#if ../isAdmin}}  <!-- Agora verifica dentro do loop -->
                    <button class="delete-button" data-email="{{email}}">Deletar</button>
                    <button class="edit-button" data-email="{{email}}" data-id="{{_id}}">Editar</button>
                {{/if}}
            </div>
        {{/each}}
    </ul>
</div>
<script>
    console.log('list page');
    const deleteButtons = document.querySelectorAll('.delete-button');
    const editButtons = document.querySelectorAll('.edit-button');

    deleteButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const userId = button.getAttribute('data-id');
            if (confirm(`Tem certeza que deseja deletar este usuário?`)) {
                try {
                    const response = await fetch(`/users/${userId}`, {
                        method: 'DELETE',
                    });
                    if (response.ok) {
                        console.log(`Usuário com ID ${userId} deletado com sucesso.`);
                        window.location.reload();
                    } else {
                        console.error(`Erro ao deletar usuário. Status: ${response.status}`);
                        alert('Erro ao deletar usuário.');
                    }
                } catch (error) {
                    console.error('Erro na requisição delete:', error);
                    alert('Erro ao deletar usuário.');
                }
            }
        });
    });

    editButtons.forEach(button => {
        button.addEventListener('click', () => {
            const userId = button.getAttribute('data-id');
            window.location.href = `/admin/users/${userId}`; // Redireciona para adminUsers.handlebars
        });
    });
</script>