<h1>Lista de Usuários</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Função</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
    <td>{{first_name}} {{last_name}}</td>
            <td>{{email}}</td>
            <td>{{role}}</td>
            <td>
                   <button class="delete-button" data-id="{{_id}}">Deletar</button>
                <button class="edit-button" data-id="{{_id}}">Editar</button>
                 {{#ifEquals role "user"}}
                    <button class="premium-button" data-id="{{_id}}">Tornar Premium</button>
                {{else}}
                    <button class="user-button" data-id="{{_id}}">Tornar Usuário</button>
                {{/ifEquals}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
  
    const premiumButtons = document.querySelectorAll('.premium-button');
    const userButtons = document.querySelectorAll('.user-button');

    premiumButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const userId = button.getAttribute('data-id');
            await changeRole(userId, 'premium');
        });
    });

    userButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const userId = button.getAttribute('data-id');
            await changeRole(userId, 'user');
        });
    });

    async function changeRole(userId, role) {
        try {
            const response = await fetch(`/users/${userId}/role`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ role }),
            });
            if (response.ok) {
                console.log(`Role do usuário com ID ${userId} alterada para ${role} com sucesso.`);
                window.location.reload();
            } else {
                console.error(`Erro ao alterar role do usuário. Status: ${response.status}`);
                alert('Erro ao alterar role do usuário.');
            }
        } catch (error) {
            console.error('Erro na requisição changeRole:', error);
            alert('Erro ao alterar role do usuário.');
        }
    }

    
</script>