
      <h1>Meu Carrinho</h1>
      <h2>Itens no Carrinho</h2>
  
 {{#if cart.items.length}}
    <table>
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Preço Unitário</th>
          <th>Total</th>

          
        </tr>
      </thead>
      <tbody>
            {{#each cart.products}}
                <tr>
                    <td>
                        <img src="{{this.productId.thumbnails.[0]}}" alt="{{this.productId.title}}" width="100">
                    </td>
                    <td>{{this.productId.title}}</td>
                    <td>
                        <input type="number" value="{{this.quantity}}" min="1" onchange="updateQuantity('{{../cartId}}', '{{this.productId._id}}', this.value)">
                    </td>
                    <td>R$ {{this.productId.price}}</td>
                    <td>R$ {{multiply this.productId.price this.quantity}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div>
        <p>Total de Itens: {{totalQuantity}}</p>
        <p>Preço Total: R$ {{totalPrice}}</p>
    </div>
    <a href="/" class="btn btn-primary">Continuar Comprando</a> {{else}}
    <p>Seu carrinho está vazio.</p>
    <a href="/" class="btn btn-primary">Continuar comprando</a> {{/if}}