<h1 class="text-center mt-4">Finalizar Compra</h1>

<div class="checkout-details">
    <h2>Detalhes do Carrinho</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart.products}}
                {{#with (lookup ../cartProducts (findIndex ../cartProducts (compare _id this.productId)))}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{../this.quantity}}</td>
                        <td>R$ {{this.price}}</td>
                        <td>R$ {{this.price * ../this.quantity}}</td>
                    </tr>
                {{else}}
                    <tr><td colspan="4">Produto não encontrado</td></tr>
                {{/with}}
            {{/each}}
        </tbody>
    </table>

    <div class="total-value">
        <h3>Total: R$ {{totalPrice}}</h3>
    </div>

    <div>
        <form action="/finalize-payment/{{cart._id}}" method="POST">
            <button type="submit" class="btn btn-success">Finalizar Pagamento</button>
        </form>
    </div>
</div>