<h1>Produtos</h1>
{{#if user}}

    {{#if isAdminOrPremium}}
        <a href="/products/add"class="btn btn-primary">Adicionar Produto</a>
    {{/if}}
{{/if}}
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
          {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>R$ {{this.price}},00</td>
                <td>
                    {{#if ../user}}
                        <button onclick="showQuantityInput('{{this._id}}', '{{../userId}}', 'quantityInput-{{@index}}', 'addToCartButton-{{@index}}')" class="btn btn-success">Comprar</button>
                        <input type="number" name="quantity" id="quantityInput-{{@index}}" value="1" min="1" class="quantity-input" style="display: none;">
                        <button id="addToCartButton-{{@index}}" onclick="addToCart('{{this._id}}', '{{../userId}}', 'quantityInput-{{@index}}')" class="btn btn-primary" style="display: none;">Adicionar ao Carrinho</button>
                    {{/if}}
                    {{#if ../isAdminOrPremium}}
                        <a href="/products/edit/{{this._id}}" class="btn btn-warning">Editar</a>
                        <form action="/products/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>


<style>
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}
.btn-primary {
    background-color: #f10d52;
    color: white;
}
.btn-success {
    background-color: #8d0a66;
    color: white;
}
.btn-warning {
    background-color: #ffc107;
    color: black;
}
.btn-danger {
    background-color: #dc3545;
    color: white;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.form-control {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>

<script>
    function showQuantityInput(productId, userId, quantityInputId, addToCartButtonId) {
        document.getElementById(quantityInputId).style.display = "inline-block";
        document.getElementById(addToCartButtonId).style.display = "inline-block";
        document.getElementById(quantityInputId).previousElementSibling.style.display = "none"; // Hide the "Comprar" button
    }

    function addToCart(productId, userId, quantityInputId) {
        const quantity = document.getElementById(quantityInputId).value;
        const purchaserEmail = '{{user.email}}';

        fetch('/cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: userId,
                productId: productId,
                quantity: quantity,
                purchaserEmail: purchaserEmail
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Carrinho atualizado:', data);
            // Optionally, update the UI to reflect the changes
        })
        .catch(error => {
            console.error('Erro ao adicionar ao carrinho:', error);
        });
    }
</script>