<div class="list">
    <h1>Lista de Usuários</h1>
    {{#if isAdmin}}
        <ul>
            {{#each users}}
                <div>
                    <li>{{first_name}} {{last_name}} | {{email}} | {{role}}</li>
                    <button class="delete-button" data-email="{{email}}">Deletar</button>
                    <button class="edit-button" data-email="{{email}}" data-id="{{_id}}">Editar</button>
                </div>
            {{/each}}
        </ul>
    {{else}}
        <ul>
            {{#each users}}
                <div>
                    <li>{{first_name}} {{last_name}} | {{email}} | {{role}}</li>
                </div>
            {{/each}}
        </ul>
    {{/if}}
</div>

<script>
    console.log('list page');
    const deleteButtons = document.querySelectorAll('.delete-button');
    const editButtons = document.querySelectorAll('.edit-button');

    deleteButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const userEmail = button.getAttribute('data-email');
            if (confirm(`Tem certeza que deseja deletar o usuário ${userEmail}?`)) {
                await deleteUsuario(userEmail);
            }
        });
    });

    editButtons.forEach(button => {
        button.addEventListener('click', () => {
            const userId = button.getAttribute('data-id');
            console.log('userId', userId);
            window.location.href = `/edit/${userId}`;
        });
    });

    async function deleteUsuario(email) {
        try {
            const response = await fetch(`/user/${email}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                console.log(`Usuário com email ${email} deletado com sucesso.`);
                window.location.reload(); // Atualiza a página após exclusão
            } else {
                console.error(`Erro ao excluir usuário. Status: ${response.status}`);
                alert('Erro ao excluir usuário.');
            }
        } catch (error) {
            console.error('Erro na solicitação de exclusão:', error);
            alert('Erro ao excluir usuário.');
        }
    }
</script>
